<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= getPrivateUrl('favicon.ico') %>">
    <link rel="icon" type="image/svg+xml" href="<%= getPrivateUrl('favicon.svg') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= getPrivateUrl('apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= getPrivateUrl('favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= getPrivateUrl('favicon-16x16.png') %>">
    <link rel="manifest" href="<%= getUrl(name + '.webmanifest') %>">
    <link rel="mask-icon" href="<%= getPrivateUrl('safari-pinned-tab.svg') %>" color="#3775c1">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <!-- Loading spinner -->
    <script type="module">
        import {Spinner} from '<%= getPrivateUrl('spinner.js') %>';
        customElements.define('dbp-loading-spinner', Spinner);
    </script>

    <!-- App bundles-->
    <script type="module" src="<%= getUrl(name + '.js') %>"></script>

    <!-- Prevent Chrome/Edge from suggesting to translate the page -->
    <meta name="google" content="notranslate">


    <style>


        @import "<%= getPrivateUrl('fonts/nunito-sans/300.css') %>";
        @import "<%= getPrivateUrl('fonts/nunito-sans/300-italic.css') %>";
        @import "<%= getPrivateUrl('fonts/nunito-sans/600.css') %>";
        @import "<%= getPrivateUrl('fonts/nunito-sans/600-italic.css') %>";


        body {
            font-family: 'Nunito Sans', 'Calibri', 'Arial', 'sans-serif';
            line-height: 1.4em;
            font-weight: 400;
            margin: 0;
            margin-top: 40px;
        }

        @media (max-width: 768px) {
            body{
                margin-top: 0px;
            }
        }

        .dbp-light-theme{
            --dbp-override-background: white;
            --dbp-override-content: #222120;

            --dbp-override-primary: #3775c1;
            --dbp-override-secondary: #222120;
            --dbp-override-secondary-surface: white;
            --dbp-override-on-secondary-surface: #222120;
            --dbp-override-secondary-surface-border-color: #222120;

            --dbp-override-muted: #767676;
            --dbp-override-accent: #9e1e4d;
            --dbp-override-info: #38808a;
            --dbp-override-success: #338555;
            --dbp-override-success-surface: #5ec189;
            --dbp-override-on-success-surface: #222120;
            --dbp-override-warning: #bf8808;
            --dbp-override-warning-surface: #f9cc66;
            --dbp-override-on-warning-surface: #222120;
            --dbp-override-danger: #cc3232;

            --dbp-override-border: 1px solid #222120;
        }

        .dbp-dark-theme{
            --dbp-override-background: #222120;
            --dbp-override-content: white;

            --dbp-override-primary: #3775c1;
            --dbp-override-secondary: white;
            --dbp-override-secondary-surface: #222120;
            --dbp-override-on-secondary-surface: white;
            --dbp-override-secondary-surface-border-color: white;

            --dbp-override-muted: #767676;
            --dbp-override-accent: #C13F6F;
            --dbp-override-info: #38808a;
            --dbp-override-success: #5ec189;
            --dbp-override-success-surface: #5ec189;
            --dbp-override-on-success-surface: #222120;
            --dbp-override-warning: #f9cc66;
            --dbp-override-danger: #cc3232;

            --dbp-override-border: 1px solid white;

        }

         .dbp-dark-theme-2{
             --dbp-override-background: #222120;
             --dbp-override-content: white;

             --dbp-override-primary: #3775c1;
             --dbp-override-secondary: white;
             --dbp-override-secondary-surface: #222120;
             --dbp-override-on-secondary-surface: white;
             --dbp-override-secondary-surface-border-color: white;

             --dbp-override-muted: #767676;
             --dbp-override-accent: #AE5576;
             --dbp-override-info: #38808a;
             --dbp-override-success: #5ec189;
             --dbp-override-success-surface: #5ec189;
             --dbp-override-on-success-surface: #222120;
             --dbp-override-warning: #f9cc66;
             --dbp-override-danger: #cc3232;

             --dbp-override-border: 1px solid white;

         }

        .tugraz-light {
            --dbp-override-background: white;
            --dbp-override-content: black;

            --dbp-override-primary: #245b78;
            --dbp-override-secondary: black;
            --dbp-override-secondary-surface: white;
            --dbp-override-on-secondary-surface: black;
            --dbp-override-secondary-surface-border-color: black;

            --dbp-override-muted: #5c5856;
            --dbp-override-accent: #e4154b;
            --dbp-override-info: #245b78;
            --dbp-override-success: #138800;
            --dbp-override-success-surface: #138800;
            --dbp-override-on-success-surface: white;
            --dbp-override-warning: #af6405;
            --dbp-override-warning-surface: #ffad4d;
            --dbp-override-on-warning-surface: black;
            --dbp-override-danger: #e4154b;

            --dbp-override-border: 1px solid black;


            --dbp-override-image-nextcloud: url(/apps/greenlight/images/nextcloud.svg);
        }

        .tugraz-dark {
            --dbp-override-background: #131313;
            --dbp-override-content: white;

            --dbp-override-primary: #73899e;
            --dbp-override-secondary: white;
            --dbp-override-secondary-surface: #131313;
            --dbp-override-on-secondary-surface: white;
            --dbp-override-secondary-surface-border-color: white;

            --dbp-override-accent: #e4154b;
            --dbp-override-accent-surface: #e4154b;
            --dbp-override-on-accent-surface: white;
            --dbp-override-info: #73899e;
            --dbp-override-success: #7CB872;
            --dbp-override-warning: #ffad4d;
            --dbp-override-danger: #e4154b;
            --dbp-override-danger-surface: #e4154b;
            --dbp-override-on-danger-surface: white;
            --dbp-override-muted: #afaca7;

            --dbp-override-border: 1px solid white;


            --dbp-override-image-nextcloud: url(/apps/greenlight/images/nextcloud.svg);
        }

        .sweets-theme{
            --dbp-override-background: #f0f2ce;
            --dbp-override-content: #ce00ff;
            --dbp-override-content-surface: #171717;
            --dbp-override-on-content-surface: #f0f2ce;

            --dbp-override-primary: #1ecae8;
            --dbp-override-primary-surface: #1ecae8;
            --dbp-override-on-primary-surface: white;
            --dbp-override-primary-surface-border-color: #2a4491;
            --dbp-override-secondary: #e087ae;
            --dbp-override-secondary-surface: #e087ae;
            --dbp-override-on-secondary-surface: black;
            --dbp-override-secondary-surface-border-color: #7cdc7c;

            --dbp-override-muted: #8a8a8a;
            --dbp-override-muted-surface: #8a8a8a;
            --dbp-override-on-muted-surface: white;
            --dbp-override-accent: #e087ae;
            --dbp-override-accent-surface: #e087ae;
            --dbp-override-on-accent-surface: white;
            --dbp-override-info: lightblue;
            --dbp-override-info-surface: aqua;
            --dbp-override-on-info-surface: white;
            --dbp-override-success: #7cdc7c;
            --dbp-override-success-surface: #7cdc7c;
            --dbp-override-on-success-surface: white;
            --dbp-override-warning: orange;
            --dbp-override-warning-surface: yellow;
            --dbp-override-on-warning-surface: black;
            --dbp-override-danger: #e017ae;
            --dbp-override-danger-surface: #e017ae;
            --dbp-override-on-danger-surface: white;

            --dbp-override-border: 3px dotted #acc1ff;
            --dbp-override-border-radius: 10px;
            --dbp-override-hover-background-color: #b0e67c;
            --dbp-override-hover-color: black;

            --dbp-override-icon-clipboard: url(<%= getPrivateUrl('heart-icon.svg') %>);
            --dbp-override-icon-cloud: url(<%= getPrivateUrl('heart-icon.svg') %>);
            --dbp-override-icon-laptop: url(<%= getPrivateUrl('heart-icon.svg') %>);
            --dbp-override-icon-warning-high: url(<%= getPrivateUrl('heart-icon.svg') %>);
            --dbp-override-icon-contrast: url(<%= getPrivateUrl('heart-icon.svg') %>);
            --dbp-override-icon-empty-file: url(<%= getPrivateUrl('heart-icon.svg') %>);

        }

        .bootstrap-theme{
            --dbp-override-background: white;
            --dbp-override-content: #343a40;
            --dbp-override-content-surface: #343a40;
            --dbp-override-on-content-surface: #f8f9fa;

            --dbp-override-primary: #007bff;
            --dbp-override-primary-surface: #007bff;
            --dbp-override-on-primary-surface: white;
            --dbp-override-secondary: #6c757d;
            --dbp-override-secondary-surface: #6c757d;
            --dbp-override-on-secondary-surface: white;

            --dbp-override-muted: #6c757d;
            --dbp-override-muted-surface: #6c757d;
            --dbp-override-on-muted-surface: white;
            --dbp-override-accent: #007bff;
            --dbp-override-accent-surface: #007bff;
            --dbp-override-on-accent-surface: white;
            --dbp-override-info: #17a2b8;
            --dbp-override-info-surface: #17a2b8;
            --dbp-override-on-info-surface: white;
            --dbp-override-success: #28a745;
            --dbp-override-success-surface: #28a745;
            --dbp-override-on-success-surface: white;
            --dbp-override-warning: #ffc107;
            --dbp-override-warning-surface: #ffc107;
            --dbp-override-on-warning-surface: black;
            --dbp-override-danger: #dc3545;
            --dbp-override-danger-surface: #dc3545;
            --dbp-override-on-danger-surface: white;

            --dbp-override-border: 1px solid #dee2e6;
        }

        .phst-light-theme{
            --dbp-override-background: white;
            --dbp-override-content: rgb(51, 51, 51);
            --dbp-override-muted: #9a9a9a;
            --dbp-override-accent: #f9b000;
            --dbp-override-primary: #f9b000;
            --dbp-override-secondary: rgb(236, 236, 237);
            --dbp-override-on-secondary-surface: rgb(51, 51, 51);
            --dbp-override-info: #7fa5ca;
            --dbp-override-success: rgb(49, 162, 76);
            --dbp-override-warning: #f9b000;
            --dbp-override-on-warning-surface: rgb(51, 51, 51);
            --dbp-override-danger: #F35369;
            --dbp-override-border: 1px solid #9a9a9a;
            --dbp-override-hover-background-color: #f9b000;
            --dbp-override-hover-color: rgb(51, 51, 51);
        }


        .phst-dark-theme{
            --dbp-override-background: rgb(51, 51, 51);
            --dbp-override-content: white;
            --dbp-override-muted: #9a9a9a;
            --dbp-override-accent: #f9b000;
            --dbp-override-primary: #f9b000;
            --dbp-override-secondary: rgb(236, 236, 237);
            --dbp-override-on-secondary-surface: rgb(51, 51, 51);
            --dbp-override-info: #7fa5ca;
            --dbp-override-success: rgb(49, 162, 76);
            --dbp-override-warning: #f9b000;
            --dbp-override-on-warning-surface: rgb(51, 51, 51);
            --dbp-override-danger: #F35369;
            --dbp-override-border: 1px solid #9a9a9a;
            --dbp-override-hover-background-color: #f9b000;
            --dbp-override-hover-color: rgb(51, 51, 51);
        }

        .med-light-theme{
            --dbp-override-background: white;
            --dbp-override-content: black;
            --dbp-override-muted: rgb(191, 191, 191);
            --dbp-override-accent: rgb(81, 174, 50);
            --dbp-override-primary: rgb(0, 123, 60);
            --dbp-override-secondary: #BFBFBF;
            --dbp-override-secondary-surface: white;
            --dbp-override-on-secondary-surface: black;
            --dbp-override-secondary-surface-border-color: black;
            --dbp-override-info: #17a2b8;
            --dbp-override-success: #28a745;
            --dbp-override-warning: #EF783D;
            --dbp-override-warning-surface: #ffc107;
            --dbp-override-on-warning-surface: black;
            --dbp-override-danger: #dc3545;
            --dbp-override-border: 1px solid black;

            --dbp-override-hover-background-color: rgb(81, 174, 50);
            --dbp-override-hover-color: white;
        }


        .med-dark-theme{
            --dbp-override-background: #007934;
            --dbp-override-content: white;
            --dbp-override-muted: #d3d7cf;
            --dbp-override-accent: #83D369;
            --dbp-override-primary: black;
            --dbp-override-on-primary-surface: white;
            --dbp-override-primary-surface-border-color: white;
            --dbp-override-secondary: rgb(0, 0, 0, 0);
            --dbp-override-on-secondary-surface: white;
            --dbp-override-secondary-surface-border-color: white;

            --dbp-override-info: #000070;
            --dbp-override-info-surface: #17a2b8;
            --dbp-override-on-info-surface: black;

            --dbp-override-success: #95ffbf;
            --dbp-override-success-surface: rgb(49, 162, 76);
            --dbp-override-on-success-surface: black;

            -dbp-override-warning: #ffc107;
            --dbp-override-warning-surface: #ffc107;
            --dbp-override-on-warning-surface: black;

            --dbp-override-danger: #FFB3B3;
            --dbp-override-danger-surface: #dc3545;
            --dbp-override-on-danger-surface: black;

            --dbp-override-border: 1px solid white;

            --dbp-override-hover-background-color: white;
            --dbp-override-hover-color: black;
        }


    </style>

    <!-- Preloading/Preconnecting -->
    <link rel="preconnect" href="<%= entryPointURL %>">
    <link rel="preconnect" href="<%= keyCloakBaseURL %>">
    <script type="module" src="<%= keyCloakBaseURL %>/js/keycloak.min.js"></script>
</head>

<body>
<<%= name %>
    provider-root
    lang="de"
    entry-point-url="<%= entryPointURL %>"
    nextcloud-web-app-password-url="<%= nextcloudWebAppPasswordURL %>"
    nextcloud-webdav-url="<%= nextcloudWebDavURL %>"
    nextcloud-name="<%= nextcloudName %>"
    nextcloud-file-url="<%= nextcloudFileURL %>"
    src="<%= getUrl(name + '.topic.metadata.json') %>"
    lang="en"
    base-path="<%= getUrl('') %>"
    keycloak-config='{"url": "<%= keyCloakBaseURL %>", "realm": "<%= keyCloakRealm %>", "clientId": "<%= keyCloakClientId %>", "silentCheckSsoRedirectUri": "<%= getUrl('silent-check-sso.html') %>"}'
    matomo-url="<%= matomoUrl %>" matomo-site-id="<%= matomoSiteId %>"
    git-info='<%= buildInfo.info %>'
    build-url='<%= buildInfo.url %>'
    build-time='<%= buildInfo.time %>'
    env='<%= buildInfo.env %>'
    themes='[{"class": "dbp-light-theme", "icon": "sun", "name": "dbp light mode"},
            {"class": "dbp-dark-theme", "icon": "night", "name": "dbp dark mode"},
            {"class": "dbp-dark-theme-2", "icon": "night", "name": "dbp dark mode 2"},
            {"class": "tugraz-light", "icon": "bulb", "name": "TU Graz light Mode"},
            {"class": "tugraz-dark", "icon": "night", "name": "TU Graz dark Mode"},
            {"class": "sweets-theme", "icon": "candy", "name": "Candy Mode"},
            {"class": "bootstrap-theme", "icon": "bootstrap", "name": "Bootstrap Mode"},
            {"class": "phst-light-theme", "icon": "star-filled", "name": "PHST Light Mode"},
            {"class": "phst-dark-theme", "icon": "star", "name": "PHST Dark Mode"},
            {"class": "med-light-theme", "icon": "plus", "name": "MED Light Mode"},
            {"class": "med-dark-theme", "icon": "plus", "name": "MED Dark Mode"}]'
    html-overrides="global-override"
><dbp-loading-spinner></dbp-loading-spinner></<%= name %>>


<template id="global-override">
    <template id="<%= name %>">
        <div slot="name">
            <style>

                .logo-dark, .dbp-light-theme .logo-dark, .dbp-dark-theme .logo-light{
                    display: none;
                }

                .logo-light, .dbp-light-theme .logo-light, .dbp-dark-theme .logo-dark{
                    display: block;
                }

                .wrapper{
                    position: absolute;
                    left: 0px;
                    width: 100%;
                }

                .logo-section{
                    margin: auto;
                    max-width: 1400px;
                }


            </style>
            <div class="wrapper">
                <div class="logo-section">
                    <img class="logo-light" style="height: 100px" src="<%= getPrivateUrl('dbp_logo_on_white.svg') %>" alt="Digital Blueprint - A University toolbox logo">
                    <img class="logo-dark" style="height: 100px" src="<%= getPrivateUrl('dbp_logo_on_black.svg') %>" alt="Digital Blueprint - A University toolbox logo">
                </div>
            </div>
        </div>
        <div slot="title" style="margin-top:40px;">
            <span>digital blueprint playground</span>

        </div>
        <div slot="logo"  style="width: 100%;
                    position: absolute;
                    color: var(--dbp-override-background);
                    background: var(--dbp-override-primary);
                    left: 0px;
                    top: 0px;
                    text-align: center;
                    padding: 10px 0;">
            <a style="color: var(--dbp-override-on-primary-surface);" href="mailto:hello@digital-blueprint.org" target="_blank">Get demo account now!</a> &nbsp;&nbsp;&nbsp; <a href="https://dbp-demo.tugraz.at/site/" style="color: var(--dbp-override-on-primary-surface);">Install this app!</a>
        </div>
    </template>
</template>

<!-- Error handling for too old browsers -->
<script src="<%= getPrivateUrl('browser-check.js') %>" defer></script>
<noscript>Diese Applikation benötigt Javascript / This application requires Javascript</noscript>
</body>
</html>
